/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
    
          
}

@media #{$brk-wide} {
        padding: 10px 30px;
    }   
@media #{$brk-wide} {
    .btn + .btn {
         margin-left: 10px;
    }
}

.default {
  background-color: $color-secondary;
}

.error {
  background-color: $grid-button-3;
}

.info {
  background-color: $grid-button-2;
}

.success {
  background-color: #63cc82;
}

.warning {
  background-color: $grid-button-1;
}
