/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $stack-lato;
  color: $grey;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
  color: $color-primary;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: $font-weight-med;
  color: $grey;
}

.link {
  color: $color-secondary;
  font-weight: $font-weight-lg;
}

.blockquote {
  font-size: 1.5em;
  font-weight: $font-weight-med;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $color-primary;
  border-radius: 5px;
}
